{% extends 'base.html.twig' %}

{% block title %}Nueva Actividad{% endblock %}

{% block body %}
    <h1>Crear Actividad</h1>

    {{ include('actividades/_form.html.twig') }}

    <a href="{{ path('actividades_index') }}">Volver</a>
{% endblock %}
